[ req ]
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C = FR
ST = TestState
L = TestLocality
O = Blooo
OU = Development
CN = Blooo
emailAddress = ledger@blooo.io
